python-multipart
fastapi
uvicorn
opencv-python
numpy
requests
mediapipe

# npm install react-webcam @mediapipe/selfie_segmentation @mediapipe/camera_utils
# npm install --save-dev @types/react-webcam
# npm install react-lottie
# npm install pdfjs-dist pptxgenjs html2canvas
# npm install pdfjs-dist@2.10.377
# npm install swr
# npm install axios
# npm install cors
# npm install socket.io
# npm install socket.io-client
# npm install @mui/material @emotion/react @emotion/styled
# npm install @mui/icons-material
# npm install i18next react-i18next i18next-http-backend i18next-browser-languagedetector --legacy-peer-deps
# npm install react-router-dom --legacy-peer-deps
# npm install pdfjs-dist@2.10.377 --legacy-peer-deps
